.gradient-page1 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #D3C5D4, #142791);
}

.gradient-page2 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #142791, #ad9393);
}


.gradient-page3 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #ad9393, #87758e);
}

.gradient-page4 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #87758e, #000000);
}

.gradient-page5 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #000000, #ffffff);
}

.gradient-page6 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #ffffff, #8f8c79);
}

.gradient-page7 {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #8f8c79, #D8ECFB);
}